[user]
    name = Jesús Germade
    email = jesus@germade.es
[push]
    default = current
[pull]
    default = current
[alias]
    ss = status
    ch = diff .
    ff = diff .
    cc = checkout
    cm = checkout master
    cp = cherry-pick
    mm = commit -m 
    mmn = commit -n -m
    mma = commit -a -m
    pm = pull origin master
    aa = add --all
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    last = log -1 HEAD
    undo-commit = "reset --soft HEAD~1"
    wip = "commit -m 'wip (skip ci)'"
[merge]
    tool = meld
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
